* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(37, 37, 37);
    .container {
        header {
            background-color: rgb(26, 26, 26);
            height: 120px;
            line-height: 120px;
            img {
                height: 80px;
                margin-left: 100px;
                vertical-align: middle;
            }
        }
        
        main {
            width: 80%;
            margin: auto;
            .cd-container {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
