* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #252525;
}

body .container header {
  background-color: #1a1a1a;
  height: 120px;
  line-height: 120px;
}

body .container header img {
  height: 80px;
  margin-left: 100px;
  vertical-align: middle;
}

body .container main {
  width: 80%;
  margin: auto;
}

body .container main .cd-container {
  display: flex;
  flex-direction: column;
}

